*.o
*.cmd
*.order
*.d
*.mod.c
initramfs.cpio
include/config/*
vmlinux
vmlinux.o
Module.symvers
System.map
arch/arm/boot/zImage
arch/arm/boot/Image
arch/arm/kernel/asm-offsets.s
arch/arm/lib/lib.a
include/linux/autoconf.h
include/linux/compile.h
kernel/bounds.s
lib/lib.a
usr/initramfs_data.cpio.lzma
*.builtin
usr/initramfs_data.cpio
usr/initramfs_data.cpio.gz
arch/arm/kernel/vmlinux.lds
include/generated/autoconf.h
include/generated/compile.h
include/generated/utsrelease.h
*.diff
arch/arm/boot/compressed/lib1funcs.S
arch/arm/boot/compressed/piggy.gzip
arch/arm/boot/compressed/vmlinux.lds
arch/arm/kernel/vmlinux.lds
drivers/char/consolemap_deftbl.c
drivers/char/defkeymap.c
firmware/samsung_mfc_fw.bin
firmware/samsung_mfc_fw.bin.gen.S
include/config/auto.conf
include/config/kernel.release
include/config/tristate.conf
include/generated/autoconf.h
include/generated/utsrelease.h
kernel/timeconst.h
lib/crc32table.h
lib/gen_crc32table
usr/gen_init_cpio
*.ko
!initramfs_root/lib/modules/*.ko
.version
.config
.tmp*
include/generated/asm-offsets.h
include/generated/bounds.h
initramfs_root/kernel_version
