.*
*.o
*.o.*
*.order
*.mod.c
*.a
*.s
*.ko
*.zip
*.diff

modules.builtin

!.gitignore

#
# Top-level generic files
#
/tags
/TAGS
/linux
/vmlinux
/vmlinuz
/System.map
/Module.markers
/Module.symvers
boot.img
zImage
newramdisk.cpio.gz

#
# Generated include files
#
include/config
include/linux/version.h
include/generated

arch/arm/boot/compressed/lib1funcs.S
arch/arm/boot/compressed/piggy.gzip
arch/arm/boot/compressed/vmlinux
include/config/auto.conf
include/config/kernel.release
include/generated/autoconf.h
include/generated/compile.h
include/generated/utsrelease.h
arch/arm/boot/Image
arch/arm/boot/compressed/vmlinux.lds
arch/arm/kernel/vmlinux.lds
initramfs_root/kernel_version
usr/gen_init_cpio
usr/initramfs_data.cpio.lzma
initramfs_root/lib/modules/lzo_compress.ko
initramfs_root/lib/modules/lzo_decompress.ko
lib/gen_crc32table
scripts/basic/docproc
scripts/basic/fixdep
scripts/basic/hash
scripts/conmakehash
scripts/kallsyms
scripts/mod/mk_elfconfig
scripts/mod/modpost
