*.builtin
*.order
*.cmd
include/config/*
*.o
*.diff
*.ko
*.mod.c
.config*
.missing-syscalls.d
.tmp_versions/
.version
Module.symvers
arch/arm/kernel/asm-offsets.s
include/generated/autoconf.h
include/generated/utsrelease.h
include/linux/intel-gtt.h
kernel/bounds.s
